{% comment %}
  Renders an article card for a given blog with settings to either show the image or not.

  Accepts:
  - blog: {Object} Blog object
  - article: {Object} Article object
  - media_aspect_ratio: {String} The setting changes the aspect ratio of the article image, if shown
  - media_height: {String} The setting changes the height of the article image. Overrides media_aspect_ratio.
  - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
  - show_date: {String} The setting either show the article date or not. If it's not included it will not show the image by default
  - show_author: {String} The setting either show the article author or not. If it's not included it will not show the author by default
  - show_badge: {String} The setting either show the blog badge or not.
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

  Usage:
  {% render 'article-card' blog: blog, article: article, show_image: section.settings.show_image %}
{% endcomment %}

{%- if article and article != empty -%}
  {%- liquid
    assign ratio = 1
    if media_aspect_ratio != null
      assign ratio = media_aspect_ratio
    endif
  -%}
  <div class="article-card-wrapper card-wrapper underline-links-hover">
    {% comment %} <article aria-labelledby="Article-{{ article.id }}"> {% endcomment %}
    <div
      class="
        card article-card
        card--{{ settings.blog_card_style }}
        {% if media_height and media_height != 'adapt' %} article-card__image--{{ media_height }}{% endif %}
        {% if article.image and show_image %} card--media{% else %} card--text{% endif %}
        {% if settings.blog_card_style == 'card' %} color-{{ settings.blog_card_color_scheme }} gradient{% endif %}
        {% if settings.blog_card_style == 'card' and media_height == nil and article.image == empty or show_image == false %} ratio{% endif %}
      "
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      <div
        class="card__inner {% if settings.blog_card_style == 'standard' %} color-{{ settings.blog_card_color_scheme }} gradient{% endif %}{% if article.image and show_image or settings.blog_card_style == 'standard' %} ratio{% endif %}"
        style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
      >
        {%- if show_image == true and article.image -%}
          <div class="article-card__image-wrapper article-card__image card__media relative">
            <a href="{{ article.url }}" class="w-full h-full">
            <div
              class="media media--hover-effect  secondary-border-radius"
              {% if section.settings.media_height == 'adapt' %}
                style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"
              {% endif %}
            >
              {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
              <img
                srcset="
                  {%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                  {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ article.image.src | image_url }} {{ article.image.src.width }}w
                "
                src="{{ article.image.src | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ article.image.src.alt | escape }}"
                class="motion-reduce tertiary-border-radius"
                {% unless lazy_load == false %}
                  loading="lazy"
                {% endunless %}
                width="{{ article.image.width }}"
                height="{{ article.image.height }}"
              >
              {% comment %}theme-check-enable ImgLazyLoading{% endcomment %} 
            </div>
            </a>
            {%  for tag  in article.tags limit: 1%} 
                <label class="absolute extra_body secondary-border-radius inline-block center text-capitalize">{{tag}}</label>
            {% endfor %}
          </div>
        {%- endif -%}
        {%  comment  %}  
        <div class="card__content">
          <div class="card__information">
            <h3 class="card__heading{% if show_excerpt %} h2{% endif %}" data-post-title="{{ article.title }}">
              <a href="{{ article.url }}" class="full-unstyled-link h5">
                {{ article.title | truncate: 50 | escape }}
              </a>
            </h3>
            <div class="article-card__info caption-with-letter-spacing h5">
              {%- if show_date -%}
              <span class="flex items-center gap-10">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="19" viewBox="0 0 16 19" fill="none">
                      <path d="M5.34375 2.5H10.4062V1.09375C10.4531 0.578125 10.7344 0.296875 11.25 0.25C11.7656 0.296875 12.0469 0.578125 12.0938 1.09375V2.5H13.5C14.1328 2.52344 14.6602 2.74609 15.082 3.16797C15.5039 3.58984 15.7266 4.11719 15.75 4.75V16C15.7266 16.6328 15.5039 17.1602 15.082 17.582C14.6602 18.0039 14.1328 18.2266 13.5 18.25H2.25C1.61719 18.2266 1.08984 18.0039 0.667969 17.582C0.246094 17.1602 0.0234375 16.6328 0 16V4.75C0.0234375 4.11719 0.246094 3.58984 0.667969 3.16797C1.08984 2.74609 1.61719 2.52344 2.25 2.5H3.65625V1.09375C3.70312 0.578125 3.98438 0.296875 4.5 0.25C5.01562 0.296875 5.29688 0.578125 5.34375 1.09375V2.5ZM1.6875 16C1.71094 16.3516 1.89844 16.5391 2.25 16.5625H13.5C13.8516 16.5391 14.0391 16.3516 14.0625 16V7H1.6875V16Z" fill="var(--denary_color)"></path>
                  </svg>
                  {{ article.published_at | time_tag: format: 'date' }}
              </span>
              {%- endif -%}
              {%- if show_author -%}
                <span>{{ article.author }}</span>
              {%- endif -%}
              
            </div>
            {%- if show_excerpt -%}
              {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
                <p class="article-card__excerpt rte-width">
                  {%- if article.excerpt.size > 0 -%}
                    {{ article.excerpt | strip_html | truncatewords: 30 }}
                  {%- else -%}
                    {{ article.content | strip_html | truncatewords: 30 }}
                  {%- endif -%}
                </p>
              {%- endif -%}
              <div class="article-card__footer">
                {%- if article.comments_count > 0 and blog.comments_enabled? -%}
                  <span>{{ 'blogs.article.comments' | t: count: article.comments_count }}</span>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
          {%- if show_badge -%}
            <div class="card__badge {{ settings.badge_position }}">
              <span class="badge color-{{ settings.color_schemes | first }}">{{ 'blogs.article.blog' | t }}</span>
            </div>
          {%- endif -%}
        </div>
        {% endcomment %} 
      </div>
      <div class="card__content">
        <div class="card__information">
          <div class="article-card__info block__card__information caption-with-letter-spacing h5">
            {%- if show_date -%}
              <span class="flex items-center gap-10 body font-weight-400">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="19" viewBox="0 0 16 19" fill="none">
                      <path d="M5.34375 2.5H10.4062V1.09375C10.4531 0.578125 10.7344 0.296875 11.25 0.25C11.7656 0.296875 12.0469 0.578125 12.0938 1.09375V2.5H13.5C14.1328 2.52344 14.6602 2.74609 15.082 3.16797C15.5039 3.58984 15.7266 4.11719 15.75 4.75V16C15.7266 16.6328 15.5039 17.1602 15.082 17.582C14.6602 18.0039 14.1328 18.2266 13.5 18.25H2.25C1.61719 18.2266 1.08984 18.0039 0.667969 17.582C0.246094 17.1602 0.0234375 16.6328 0 16V4.75C0.0234375 4.11719 0.246094 3.58984 0.667969 3.16797C1.08984 2.74609 1.61719 2.52344 2.25 2.5H3.65625V1.09375C3.70312 0.578125 3.98438 0.296875 4.5 0.25C5.01562 0.296875 5.29688 0.578125 5.34375 1.09375V2.5ZM1.6875 16C1.71094 16.3516 1.89844 16.5391 2.25 16.5625H13.5C13.8516 16.5391 14.0391 16.3516 14.0625 16V7H1.6875V16Z" fill="var(--denary_color)"></path>
                  </svg>
                  {{ article.published_at | time_tag: format: 'date' }}
              </span>
              {%- endif -%}
            {%- if show_author -%}
              <span>{{ article.author }}</span>
            {%- endif -%}
          </div>
          <h4 class="card__heading blog-post-title primary_h4" data-post-title="{{ article.title }}">
            <a href="{{ article.url }}" class="full-unstyled-link">
              {{ article.title | truncate: 50 | escape }}
            </a>
          </h4>
          {%- if show_excerpt -%}
            {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
              <p class="article-card__excerpt rte-width">
                {%- if article.excerpt.size > 0 -%}
                  {{ article.excerpt | strip_html | truncatewords: 30 }}
                {%- else -%}
                  {{ article.content | strip_html | truncatewords: 30 }}
                {%- endif -%}
              </p>
            {%- endif -%}
            <div class="article-card__footer">
              {%- if article.comments_count > 0 and blog.comments_enabled? -%}
                <span>{{ 'blogs.article.comments' | t: count: article.comments_count }}</span>
              {%- endif -%}
            </div>
          {%- endif -%}
          <a href="{{ article.url }}" class="link-btn inline-flex items-center gap-8">
              {{'blogs.article.read_more' | t }}
              <svg xmlns="http://www.w3.org/2000/svg" width="7" height="13" viewBox="0 0 7 13" fill="none">
                  <path d="M1.78125 1.25L6.28125 6C6.40625 6.14583 6.46875 6.3125 6.46875 6.5C6.46875 6.6875 6.40625 6.86458 6.28125 7.03125L1.78125 11.7812C1.44792 12.0729 1.10417 12.0729 0.75 11.7812C0.4375 11.4479 0.427083 11.0938 0.71875 10.7188L4.71875 6.5L0.71875 2.25C0.427083 1.89583 0.4375 1.55208 0.75 1.21875C1.10417 0.927083 1.44792 0.9375 1.78125 1.25Z" fill="#00B5E3"/>
              </svg>
          </a>
        </div>
        {%- if show_badge -%}
          <div class="card__badge {{ settings.badge_position }}">
            <span class="badge color-{{ settings.color_schemes | first }}">{{ 'blogs.article.blog' | t }}</span>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endif -%}
