{{ 'customer.css' | asset_url | stylesheet_tag }}


<div class="block__main-login section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="block__wrapper quaternary-border-radius" {% if settings.bg_image != blank %} style="background-image: url('{{ settings.bg_image | img_url: 'master' }}');" {% endif %}>
      <div class="customer reset-password quaternary-border-radius" {% if settings.bg_color != blank %} style="background-color:{{ settings.bg_color }}"{% endif %}>
        <div class="block__heading">
          <h1 tabindex="-1" class="primary_h2 font-weight-700">
            {% if settings.reset_title != blank %}
            {{- settings.reset_title -}}
            {% else %}
            {{ 'customer.reset_password.title' | t }}
            {% endif %}
          </h1>
          <p class="medium_body">
            {% if settings.reset_text != blank %}
            {{- settings.reset_text -}}
            {% else %}
            {{ 'customer.reset_password.subtext' | t }}
            {% endif %}
          </p>
        </div>
        {%- form 'reset_customer_password' -%}
          {%- if form.errors -%}
            <h2 class="form__message none" tabindex="-1" autofocus>
              <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
              <span class="svg-wrapper">
                {{- 'icon-error.svg' | inline_asset_content -}}
              </span>
              {{ 'templates.contact.form.error_heading' | t }}
            </h2>
            <ul class="none">
              {%- for field in form.errors -%}
                <li>
                  {%- if field == 'form' -%}
                    {{ form.errors.messages[field] }}
                  {%- else -%}
                    <a href="#{{ field }}">
                      {{ form.errors.translated_fields[field] | capitalize }}
                      {{ form.errors.messages[field] }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}

          <div class="field">
            {%- if form.errors contains 'password' -%}
              <small id="password-error" class="form__message">
                <span class="svg-wrapper">
                  {{- 'icon-error.svg' | inline_asset_content -}}
                </span>
                {{ form.errors.translated_fields.password | capitalize }}
                {{ form.errors.messages.password }}
              </small>
            {%- endif -%}
            <div class="relative w-full">
              <input
                class="extra_body"
                type="password"
                name="customer[password]"
                id="password"
                autocomplete="new-password"
                {% if form.errors contains 'password' %}
                  aria-invalid="true"
                  aria-describedby="password-error"
                {% endif %}
                placeholder="{{ 'customer.reset_password.password' | t }}"
              >
              <span class="absolute toggle-password">{% render 'eye-open' %}</span>
            </div>
            <label for="password">
              {{ 'customer.reset_password.password' | t }}
            </label>
          </div>

          <div class="field relative">
            {%- if form.errors contains 'password_confirmation' -%}
              <small id="password_confirmation-error" class="form__message">
                <span class="svg-wrapper">
                  {{- 'icon-error.svg' | inline_asset_content -}}
                </span>
                {{ form.errors.translated_fields.password_confirmation | capitalize }}
                {{ form.errors.messages.password_confirmation }}
              </small>
            {%- endif -%}
            <div class="relative w-full">
              <input
                type="password"
                name="customer[password_confirmation]"
                id="password_confirmation"
                autocomplete="new-password"
                {% if form.errors contains 'password_confirmation' %}
                  aria-invalid="true"
                  aria-describedby="password_confirmation-error"
                {% endif %}
                placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
              >
              <span class="absolute toggle-password">{% render 'eye-open' %}</span>
            </div>
            <label for="password_confirmation">
              {{ 'customer.reset_password.password_confirm' | t }}
            </label>
          </div>

          <button>
            {{ 'customer.reset_password.submit' | t }}
          </button>
        {%- endform -%}
      </div>
    </div>
  </div>
</div>
{% style %}  
  .reset-password button {
      border: none;
      border-radius: 5px;
  }
  @media (min-width:990px){
    .section-{{ section.id }}-padding{
        padding-top:{{ settings.desktop_padding_top }}px;
        padding-bottom:{{ settings.desktop_padding_bottom }}px;
    }
    .block__main-login .block__wrapper{
        padding-top:{{ settings.image_desktop_padding_top }}px;
        padding-bottom:{{ settings.image_desktop_padding_bottom }}px;
    }
  }
  @media (max-width:989px){
    .section-{{ section.id }}-padding{
        padding-top:{{ settings.mobile_padding_top }}px;
        padding-bottom:{{ settings.mobile_padding_bottom }}px;
    }
    .block__main-login .block__wrapper{
        padding-top:{{ settings.image_mobile_padding_top }}px;
        padding-bottom:{{ settings.iamge_mobile_padding_bottom }}px;
    }
  }
{% endstyle %}
{% schema %}
{
  "name": "t:sections.main-reset-password.name",
  "settings": [
    
  ]
}
{% endschema %}
