{{ 'section-open-positions.css' | asset_url | stylesheet_tag }}

{% style %}
  .section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      background-color: {{ section.settings.color }};
  }
  @media (max-width: 749px) {
      .section-{{ section.id }} {
          padding-top: {{ section.settings.padding_top_m }}px;
          padding-bottom: {{ section.settings.padding_bottom_m }}px;
      }
  }
{% endstyle %}

<div class="section-{{ section.id }} section-open-positions">
  <div class="page-width">
    <div class="block__open-positions-row">
        
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Open Positions",
  "settings": [
    {
      "type": "header",
      "content": "Section Style"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Top padding(Mobile)",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Bottom padding(Mobile)",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Open Positions"
    }
  ]
}
{% endschema %}
